<nav class="navbar">
  <div class="navbar-inner">
    <a class="navbar-brand" [routerLink]="['/']">
      Banca Lume
    </a>

    <div class="navbar-content">

      @if (authService.isAuthenticated()) {
      <ul class="navbar-links">
        <li>
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/movimenti']" routerLinkActive="active">Movimenti</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/ricarica']" routerLinkActive="active">Ricarica</a>
        </li>
        <li>
          <a class="nav-link" [routerLink]="['/bonifici']" routerLinkActive="active">Bonifico</a>
        </li>
      </ul>

      <div ngbDropdown class="user-dropdown">
        <button type="button" class="user-btn" id="userMenu" ngbDropdownToggle>
          @if (authService.currentUser(); as user) {
          <span class="user-avatar">{{ user.nomeTitolare[0] }}{{ user.cognomeTitolare[0] }}</span>
          <span class="user-name">
            {{ user.nomeTitolare }} {{ user.cognomeTitolare }}
          </span>
          }
        </button>

        <div ngbDropdownMenu class="user-menu" aria-labelledby="userMenu">
          <a class="menu-item" [routerLink]="['/home']" ngbDropdownItem>
            Area personale
          </a>

          <a class="menu-item" [routerLink]="['/profilo']" ngbDropdownItem>
            Profilo
          </a>

          <div class="menu-divider"></div>

          <button class="menu-item logout" (click)="authService.logout()">
            Logout
          </button>
        </div>
      </div>
      } @else {
      <a class="login-btn" [routerLink]="['/login']">
        Login
      </a>
      }

    </div>
  </div>
</nav>